# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ambientes virtuais - IMPORTANTE!
venv/
env/
ENV/
.venv/

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Arquivos de log
*.log
